.rock
{
    background-image: url("./images/rock.png");
}
.paper
{
    background-image: url("./images/paper.png");
}
.scissor
{
    background-image: url("./images/scissor.png");
}

.player-ui
{
    float:left;
}

.cpu-ui
{
    float: right;
}


.picture-ui
{
    font: 18pt 'Georgia';
    height: 100px;
    display: inline-flex;
    align-items: flex-start;
    width: 100px;
    border: thick solid blueviolet;
}


.msg
{
    border: medium solid blueviolet;
}

.log
{
    white-space: pre;

}

.option-ui
{
    position: relative;
}

.play-ui
{
    position: relative;
    height: 220px;
}

.btn-reset
{
    background-image: url("./images/reset.png");
    text-align: center;
    height: 60px;
    width: 100px;
    border: thin solid blueviolet;
}